.carousel-item{
    background-color:  #404d3c;
    height: 100%;
}
.carousel-control-prev-icon{
    margin-right: 170px;
}
.carousel-control-next-icon{
    margin-left: 170px;
}
.ffx{
    font-family: "playfairdisplay-bold , palyfair display",serif;
}

.btn3{
    position: absolute;
    left: 12%;
    top: 160%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 40px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 0px;
  }
  .btn3:hover{
    background-color:#404d3c;
    border: 1px solid #000000;
    color: #fff;
  }
  .btn4{
    position: absolute;
    left: 68%;
    top: 240%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 40px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 0px;
  }
  .btn4:hover{
    background-color:#404d3c;
    border: 1px solid #000000;
    color: #fff;
  }
  .vl {
    border-left: 1px solid black;
    height: 150px;
    margin-left: 240px;
  }
  .img-grid{
    height: 26rem;
  }
 


  .top-left {
    position: absolute;
    top: 250px;
    left: 16px;
    color: #ffffff;
    font-size: 20px;
    font-family: heebo-light,sans-serif;
  }
  .top-let{
    position: absolute;
    top: 250px;
    left: 90px;
    color: #ffffff;
    font-size: 70px;
    font-family: playfairdisplay-bold,'playfair display',serif;
    font-weight: bolder;
  }
  .count h2{
    margin-left: 80px;
  }
  .count .btn{
    position: absolute;
    top: 80%;
    left: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    border-radius: 0px;
  }
  .count .btn:hover{
    background-color:#404d3c61;
    border: 1px solid white;
    color: #fff;
  }
.count .btn1{
    position: absolute;
    top: 80%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .count .btn1:hover{
    background-color:#404d3c61;
    border: 1px solid white;
    color: #fff;
  }
  .img1{
    filter: brightness(50%);
  }
  .btno{
    position: absolute;
    top: 300%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 50px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
.btno:hover{
  background-color: #404d3c;
  border: 1px solid white;
  color: #fff;
}
.img1{
  background-image: url(../Images/20.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 635px;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px){
  .img1{
    width: 320px;
  }
  .count{
    width: 100px;
  }
  .top-left{
    font-size: 16px;
  }
  .top-let{
    font-size: 35px;
  }
  .btn{
    margin-top: 90px;
    margin-left: 125px;
  }
  .btn1{
    margin-top: 30px;
    margin-left: 90px;
  }
  .carousel{
    font-size: 9px;
  }
  .btn3{
    margin-left: 160px;
    padding: 5px 20px;
    margin-top: -130px;
  }
  .btno{
    margin-top: 780px;
    margin-left: 205px;
    padding: 1px 30px;
  }
  .btn4{
    margin-top: 780px;
    padding: 1px 30px;
    width: 100px;
  }
  .iiig{
    margin-bottom: 10px;
  }
  .vl{
    display: none;
  }
  .img-grid{
    flex-direction: column;
  }
 
}
@media (min-width:992px) and (max-width:2500px){
  .mbvgty{
    margin-left: 100px;
  }
  .mbvgt{
    margin-left: -90px;
  }
  .mbvg{
    margin-top: 50px;
  }
  
}

@media (min-width:375px){
  .img1{
    width: 375px;
  }
  .mbvgt{
    margin-top: 700px;
  }
  .mbvg{
    margin-top: 660px;
  }
  .img-grid{
    margin-bottom: 800px;
  }
}
@media (min-width:425px){
  .img1{
    width: 425px;
  }
}
@media (min-width:768px){
  .img1{
    width: 769px;
  }
  
  .btn1{
    display: none;
  }
  .btn{
    margin-top: 80px;
  }
  .btn3{
    display: none;
  }
  .mbvg{
    display: none;
  }
  .vl{
    display: none;
  }
}
@media (min-width:1440px){
  .img1{
    width: 100%;
  }
.mbvgt{
  display: none;
}
.btn{
  margin-top: -50px;
}
}


@media (min-width:1024px){
  .mnbvg{
    width: 100%;
  }
}
 


