.gmap_iframe {
    margin-top: 50px;
    width:100%!important;
    height:400px!important;
    }

    @media only screen and (max-width: 600px){
        .kkjhg{
            margin-right: -50px;
        }
        .vl{
            display: none;
        }
    }

    @media (min-width:992px) and (max-width:2500px){
        .vl{
            margin-left: 150px;
        }
    }