.bta{
    position: absolute;
    top: 120%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 50px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.bta:hover{
    background-color: #404d3c;
    border: 1px solid white;
    color: #fff;
}
.bt{
    position: absolute;
    top: 240%;
    left: 16%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 15px 50px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.bt:hover{
    background-color: #404d3c;
    border: 1px solid white;
    color: #fff;
}
@media only screen and (max-width: 600px){
    .bta{
        margin-top: 550px;
    }
    .bt{
        margin-left: 120px;
        margin-top: 400px;
        display: none;
    }
  
  
}

@media (min-width:992px) and (max-width:2500px){
    .jjhgt{
        margin-left: 140px;
    }
    .jjhg{
        margin-left: 170px;

    }
}
@media (min-width:375px){
    .bt{
        display: none;

    }
    .bta{
        display: none;
    }
}